.App {
  display: grid;

  grid-gap: 1em;
}

.App-header {
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100%;
  background-color: black;
  justify-content: space-around;
}

.menu {
  padding-top: 2%;
}

.test {
}
.jumbo {
  text-align: center;
}

.navigs {
  margin-left: 3%;
  flex: 0 0 10%;
  padding: 0%;
  margin-right: 0%;
}

.cart {
  flex: 0 0 29%;
  
  
}

.shoppingButton {
}

.col-1 {
}

.col-2 {
}

.quantity {
  flex: 0 0 23%;
  text-align: center;
  font-size: 10px;
}

.product {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
  border-radius: 25px;
  border: 2px solid red;
  padding: 0%;
  background-color: black;
  

}

.itemInfo {
  flex: 0 0 100%;

  padding: 0%;
  
}

.wrapper {

  min-height: 100%;
  /*grid-template-areas: navigation navigation navigation;*/
}
 .description {
    text-align: start;
  }

@media only screen and (max-width: 767px) {

   

  .itemInfo {
    flex: 0 0 80%;
    margin-left: 10%;
    background-color: black;
    font-size: 22px;
    padding-bottom: 10px;
   

  }

  .quantity {
 width: 18%;

  }

}

@media only screen and (min-width: 768px) {
  .itemInfo {
    flex: 0 0 26%;
    background-color: black;
    font-size: 20px;
    padding: 10px;
    margin-left: 5%;
  }
  .quantity {
    padding: 2%;
    
    width: 23%;

  }
}
