.App {
  display: grid;
  grid-gap: 10em;
}



.App-header {
 
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



.menu {
display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
background-color: black;
height: 95px;
align-items: center;



}

.menu {
 
  padding-top: 0px;
}

.test {
  
}
.jumbo {
  text-align: center;

}

.navigs {
margin-left: 3%;
flex: 0 0 9%;

}

.cart {
  flex: 0 0 28%;
  margin-left: auto;
  
  margin-bottom: 0px;
  padding-bottom: 0px;

}



@media 